{% assign data = include.data | default: page.founder_story %}
<section class="section w-full bg-[#F0EDE7]" id="about">
  <div class="content-wrapper">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 items-center">
      <!-- Left Image -->
      <img
        src="{{ data.image | relative_url }}"
        alt="{{ data.alt_text }}"
        class="w-full max-w-md lg:max-w-none mx-auto aspect-square object-cover"
      />

      <!-- Right Content -->
      <div class="flex flex-col justify-center max-w-2xl mx-auto lg:mx-0">
        {% if data.kicker %}
        <p
          class="font-body text-[#402518] text-[11px] sm:text-xs md:text-sm mb-6 tracking-wide font-light"
        >
          {{ data.kicker }}
        </p>
        {% endif %} {% if data.quote %}
        <h2
          class="font-title text-[#402518] text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold mb-8 leading-[1.2]"
        >
          {{ data.quote }}
        </h2>
        {% endif %} {% if data.body %}
        <p
          class="font-body text-[#402518] text-[11px] sm:text-xs md:text-sm leading-relaxed mb-10 font-light"
        >
          {{ data.body }}
        </p>
        {% endif %}
        <div>
          <p class="font-body text-[#402518] font-bold text-xs md:text-sm">
            {{ data.name }} {% if data.title %}
            <span class="font-light text-[#402518]">{{ data.title }}</span>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
